:root {
  --main-text-color: #707070;
  --dark-text-color: #242424;
  --light-text-color: #c9c9c9;
  --red-text-color: #c93b2b;
  --red-event-color: #b02942;
  --green-event-color: #5cb058;
  --orange-event-color: #d35c27;
  --boder-color: #ededed;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.calendarShell {
  margin: 1em;
  padding: 1.5em;
  border: 1em solid var(--boder-color);
  border-radius: 1em;
}

.calendarShell h1 {
  margin: 0px;
}

.calendarShell .subHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1.5em;
  color: var(--red-text-color);
  margin-bottom: 1em;
}

.calendarShell .subHeader .navigation {
  text-align: right;
  color: var(--main-text-color);
}

.calendarShell .subHeader .navigation span {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.calendarShell .subHeader .navigation span:first-of-type {
  margin-right: 4em;
}

.calendarShell .monthGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.calendarShell .monthGrid .dayCell {
  border-right: 1px solid var(--boder-color);
  border-bottom: 1px solid var(--boder-color);
  padding: 5px;
  height: 5em;
  color: var(--light-text-color);
}

.calendarShell .monthGrid .dayCell:nth-child(-n+14) {
  border-top: 1px solid var(--boder-color); 
}

.calendarShell .monthGrid .dayCell:nth-child(7n+1) {
  border-left: 1px solid var(--boder-color); 
}

.calendarShell .monthGrid .dayCell.current {
  color: var(--main-text-color);
}

.calendarShell .monthGrid .dayHeader {
  border-right: 1px solid var(--boder-color);
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--main-text-color);
}

.calendarShell .monthGrid .dayHeader:nth-child(7) {
  border-right: none;
}